<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <!-- ConsoleAppender - Thread -->
    <appender name="ConsoleAppender_Thread" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level - %message%newline%exception" />
      </layout>
    </appender>

    <!-- ConsoleAppender - Logger -->
    <appender name="ConsoleAppender_Logger" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%logger] %level - %message%newline%exception" />
      </layout>
    </appender>

    <!-- ConsoleAppender - LevelRangeFilter -->
    <appender name="ConsoleAppender_LevelRangeFilter" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"></levelMin>
        <levelMax value="ERROR"></levelMax>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level - %message%newline%exception" />
      </layout>
    </appender>

    <!-- ConsoleAppender - StringMatchFilter -->
    <appender name="ConsoleAppender_StringMatchFilter" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="application"></stringToMatch>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level - %message%newline%exception" />
      </layout>
    </appender>

    <!-- ConsoleAppender - LevelMatchFilter -->
    <appender name="ConsoleAppender_LevelMatchFilter" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="Debug"></levelToMatch>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level - %message%newline%exception" />
      </layout>
    </appender>

    <!-- ConsoleAppender - Data -->
    <appender name="ConsoleAppender_Data" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Level - %level%newlineMessage - %message%newlineUTC Date - %utcdate{ABSOLUTE}%newlineDate - %date{ABSOLUTE}%newlineTimestamp - %timestamp%newlineUsername - %username%newlineLocation - %location%newlineLine - %line%newlineMethod - %method%newline%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />

      <!--<appender-ref ref="ConsoleAppender_Thread" />-->
      <!--<appender-ref ref="ConsoleAppender_Logger" />-->
      <!--<appender-ref ref="ConsoleAppender_LevelRangeFilter" />-->
      <!--<appender-ref ref="ConsoleAppender_StringMatchFilter" />-->
      <!--<appender-ref ref="ConsoleAppender_LevelMatchFilter" />-->
      <appender-ref ref="ConsoleAppender_Data" />
    </root>
  </log4net>
</configuration>